<div class="user-icon-name-heart">
  <div class="user-icon-and-name">
    <app-user></app-user>
    <p class="user-text">Usuario</p>
  </div>
  <div class="bin-heart">
    <img
      class="bin"
      src="../../../../assets/icons/bin.png"
      (click)="removeTweet(oldTweet.innerText)"
    />
    <img
      class="heart"
      [src]="
        fav
          ? '../../../../assets/icons/heart-true.png'
          : '../../../../assets/icons/heart-false.png'
      "
      (click)="favToggle()"
    />
  </div>
</div>
<p appHighlightTweet class="tweet-text" #oldTweet>{{ tweetText }}</p>
