.user-icon-name-heart {
  display: flex;
  justify-content: space-between;
}

.user-icon-and-name {
  display: flex;
  align-items: center;
}

.user-text {
  font-size: 16px;
  font-family: Fredoka;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  line-height: 19.36px;
  margin-top: 0;
}
.bin {
  width: 25px;
  height: 24px;
}
.heart {
  width: 25px;
  height: 24px;
  margin-right: 12px;
}
.bin-heart {
  display: flex;
  gap: 12px;
}
.tweet-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: rgba(0, 0, 0, 1);
  width: 501px;
  margin: 0 0 0 75px;
  transition: transform 0.3s ease-out;
}
