<app-tweet-input
  (tweetPosted)="tweetPosted($event)"
  class="input-block"
></app-tweet-input>
<div *ngIf="tweetsList.length > 0; else emptyList">
  <ul *ngFor="let tweet of tweetsList; let i = index">
    <li>
      <app-tweet
        [tweetText]="tweet.text"
        [fav]="tweet.isFav"
        class="posted-tweet"
        (favToggled)="toggleFavorite(i, $event)"
        (tweetDeleted)="tweetDeleted($event)"
      ></app-tweet>
    </li>
  </ul>
</div>

<ng-template #emptyList>
  <p class="empty-message">No hay tweets posteados. ¡Empieza ya!</p>
</ng-template>
