<app-tweet-input
  (tweetPosted)="tweetPosted($event)"
  class="input-block"
></app-tweet-input>
<div *ngIf="tweetsList.length > 0; else emptyList">
  <ul *ngFor="let tweet of tweetsList">
    <li class="posted-tweet" *ngIf="!tweet.isDeleted">
      <app-tweet
        [tweetText]="tweet.text"
        [(fav)]="tweet.isFav"
        [(isDeleted)]="tweet.isDeleted"
        (favChange)="toggleFavorite()"
        (isDeletedChange)="tweetDeleted()"
      ></app-tweet>
    </li>
  </ul>
</div>

<ng-template #emptyList>
  <p class="empty-message">No hay tweets posteados. ¡Empieza ya!</p>
</ng-template>
