.input-block {
  border-bottom: 1px solid rgba(108, 103, 103, 1);
  height: 128px;
}
.empty-message {
  font-family: Inter;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.posted-tweet {
  border-bottom: 1px solid rgba(108, 103, 103, 1);
  padding-bottom: 20px;
}
